<div class="container py-5">
  <h3>Company</h3>
  <div class="row">
    <div class="col">
      <%= link_to "< Companies", companies_path %>
    </div>
    <div class="col text-right">
      <%= link_to "Edit", edit_company_path %>
      <%= link_to('Delete', @company, method: :delete, data: { confirm: 'Are you sure?' },
      title: "Delete #{@company.name}") %>
    </div>
  </div>

<!-- This part of the style could be movind to the new file -->  
  <style> 
    <% if @company.brand_color.present?%>
        .brandColor { background-color:<%= @company.brand_color %>;}
        <% else %>
        .brandColor { background-color:green;}
    <% end %>
  </style>

  <div class="brandColor">
    <div class="container p-5 text-white">
      <h1><%= @company.name %></h1>
      <% if @company.city.present? && @company.state.present? %>
        <h3><mark> <%= @company.city %>, <%= @company.state %></mark></h3>
      <% else %>
        <h3><mark> City, State</mark></h3>
      <% end %>
      <pre><mark>☝️ This is what needs to be udpated. Examples: Atlanta, GA or Nashvile, TN</mark></pre>
    </div>
  </div>

  <div class="row bg-light">
    <div class="col-12 col-lg-8 p-lg-5 pt-4">
      <%= @company.description %>
    </div>
    <div class="col-12 col-lg-4 pt-lg-5">
      <h4>Services</h4>
      <% @company.services.reject(&:blank?).each do |service| %>
        <p><%= service %></p>
      <% end %>
      <h4>Contact</h4>
        <div class="form-group" data-controller="clipboard">
          <p><%= @company.phone %><br>
          <input type="hidden" value="<%= @company.phone %>" data-target="clipboard.source"></input>
          <a data-action="clipboard#copy" class="clipboard-button pointer text-decoration-none text-dark"> copy</a>
          <a data-target="clipboard.notice" class="clipboard-button pointer d-none text-decoration-none text-dark" class="d-none"> copied</a> 
          </p>         
        </div>
    </div>
  </div>

  <div class=" text-white text-center py-3 brandColor">
    <p class="lead"><%= @company.phone %> — <%= @company.email %></p>
  </div>
</div>
